<!--header start-->
<header class="header white-bg" style="background-color: #2A3542; color: white;">
  <div class="sidebar-toggle-box">
    <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
  </div>
  <!--logo start-->
  <a href="index.html" class="logo" style="color: white;">Biblio<span>grafías</span></a>
  <!--logo end-->
  <div class="nav notify-row" id="top_menu" style="background-color: black;">
    <!--  notification start -->
    <ul class="nav top-menu">




    </ul>
  </div>
  <div class="top-nav ">
    <ul class="nav pull-right top-menu">

      <!-- user login dropdown start-->
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <img alt="" src="img/avatar1_small.jpg">
          <span class="username">Usuario</span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">

          <li><a href="login.html"><i class="icon-key"></i> Salir</a></li>
        </ul>
      </li>
      <!-- user login dropdown end -->
    </ul>
  </div>
</header>
<!--header end-->
 <!--sidebar start-->
 <aside>
   <div id="sidebar" class="nav-collapse ">
     <!-- sidebar menu start-->
     <ul class="sidebar-menu" id="nav-accordion">
       <li>
         <a [routerLink]="['/registro']">
           <i class="icon-dashboard"></i>
           <span >Bibliografías</span>
         </a>
       </li>

<li>
  <a [routerLink]="['/asignatura']">
    <i class="icon-dashboard"></i>
    <span>Asignaturas</span>
  </a>
</li>




     </ul>
     <!-- sidebar menu end-->
   </div>
 </aside>
 <!--sidebar end-->
